extends layout

block content
  div(class="container-fluid")
  
    if (err)
        div
            h2(style = "color: red;")= err
  
  
   

    h1(class="header")
      p Metadata Microservice
    blockquote
      p User stories:
      ol
        li I can submit a FormData object that includes a file upload.
        li When I submit something, I will receive the file size in bytes within the JSON response.
        li Hint: You may want to use this package:
           a(href="https://www.npmjs.com/package/multer" target='_blank')  Multer
    h2 Upload file
    form(role="form", action="/upload", method="post", enctype="multipart/form-data")
        div(class="form-group")
            label Upload File
            input(type="file", name="userFile", id="myfile")
            input(type='submit', name='send', id='sendFile')
